.section4{
    margin-top:3rem;
    display: flex;
    align-items: center;
    color:white;
    .back{
        position: absolute;
        height: 26rem;
        width: 100%;
        background: linear-gradient(180deg,#d90647 14%, #e8402d 100%)
    }
    img{
        object-position: center;
    }

    .contien-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 26rem;
        margin-top:6rem;
    }

    .tel-text{
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
        p{
            font-size:1rem !important;
        }
        img{
            height: 20px;
            margin:1rem;
        }
    }
    @media screen and (max-width:992px){
        .contien-text{
            color:$red !important;
        }
        .tel-text{
            img{
                display: none;
            }
        }
    }
}