.section2{
    margin-top: 5vh;
}

.contienimage{
    height: 600px;
    margin-bottom:2vh ;
}

.img1{
    position: absolute;
    top:0;
    left: 0;
    width: 100% \9;
    height: 500px !important;
}

.img2{
    position: absolute;
    bottom: 0;
    right:0;

    width: 100% \9;
    height: 500px !important;
}

.ptsrouge{
    color:red;
}

hr{
    margin:4rem;
}
